.article__mainHeading {
    border-top: 1px solid grey;
    padding: 10px 0;
    margin-top: 0;
}

.article__subHeading {
    margin-bottom: 5px;
}

.article__title {
    margin: 0;
    margin-bottom: -15px;
}

.article__source {
    margin-top: -10px;
}

.article__source--special {
    font-style: italic; /* jak zrobić, żeby to było tylko pochylone, bez pogrubienia? */
    font-weight: normal;
    font-weight: 400; 
}